<ion-view view-title="Account">
    <ion-content>
        <form ng-submit="updateProfile()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" name="userName" placeholder="First name" ng-model="user.firstName">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last name" ng-model="user.lastName">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email address" ng-model="user.email">
                </label>

                <div class="item item-divider">
                    Interest Languages
                    <a href="#/tab/account/language/known" class="item-note">
                        Modify
                    </a>
                </div>

                <a ng-repeat="known in languages.known" class="item item-avatar" href="#">
                    <img ng-src="/styles/flag-icon/flags/1x1/{{ ::known.code }}.svg" alt=""/>

                    <h2>{{ ::known.name }}</h2>

                    <p>{{ ::known.level }}</p>
                </a>

                <div class="item item-divider">
                    Known Languages
                    <a href="#/tab/account/language/interest" class="item-note">
                        Modify
                    </a>
                </div>

                <a ng-repeat="interest in languages.interest" class="item item-avatar" href="#">
                    <img ng-src="/styles/flag-icon/flags/1x1/{{ ::interest.code }}.svg" alt=""/>

                    <h2>{{ ::interest.name }}</h2>

                    <p>{{ ::interest.level }}</p>
                </a>

            </div>

            <div class="padding">
                <button class="button button-full button-positive">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
