<ion-view view-title="Swap Linguo">
    <ion-content ng-class="{ 'tab-match': cards.length === 0 }" class="padding" scroll="false">

        <div ng-if="cards.length === 0"
             class="text-center">
            <h1 class="">It's a match!</h1>

            <h3>You and Bob can swap lingo now!</h3>

            <div class="row">
                <div class="col"><img width="100" ng-src="{{ bobImage }}" alt=""/></div>
                <div class="col"><img width="100" ng-src="{{ myImage }}" /></div>
            </div>

            <a ng-href="#/tab/chats" class="button button-block button-outline button-calm">
                Send a message
            </a>
        </div>

        <td-cards ng-if="cards.length > 0">
            <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
                     on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">

                <div class="list card">

                    <div class="item item-image">
                        <div class="no-text"><i class="ion-close-circled"></i></div>
                        <img ng-src="{{card.image}}">

                        <div class="yes-text"><i class="ion-checkmark-circled"></i></div>
                    </div>

                    <div class="item item-avatar assertive" href="#">
                        <img ng-src="/styles/flag-icon/flags/1x1/{{card.from}}.svg"/>
                        {{card.name}}, {{card.age}}
                        <p>
                            <small>knows {{card.languages.join(', ')}}</small>
                        </p>
                    </div>

                </div>
            </td-card>
        </td-cards>

    </ion-content>
</ion-view>
