<ion-view view-title="Linguo">
    <ion-content class="padding" scroll="false">

        <td-cards>
            <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
                     on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">

                <div class="list card">

                    <div class="item item-image">
                        <div class="no-text"><i class="ion-close-circled"></i></div>
                        <img ng-src="{{card.image}}">

                        <div class="yes-text"><i class="ion-checkmark-circled"></i></div>
                    </div>

                    <div class="item item-avatar assertive" href="#">
                        <img ng-src="/styles/flag-icon/flags/1x1/{{card.from}}.svg"/>
                        {{card.name}}, {{card.age}}
                        <p>
                            <small>knows {{card.languages.join(', ')}}</small>
                        </p>
                    </div>

                </div>
            </td-card>
        </td-cards>

    </ion-content>
</ion-view>
